### Assigning values to Variables

 Declaring and assigning value to a variable

In [1]:
age = 20
age = 21
print(age)
name ="Ahmed"
print(name)

21
Ahmed

Declaring multiple variables

In [2]:
a, b, c = 0, 9.3, "Hello"

print (a)
print (b)
print (c)

0
9.3
Hello

In [3]:
a = 0; b= 9.3; c= "Hello"

print (a)
print (b)
print (c)

0
9.3
Hello

Changing the value of a variable

In [4]:
name = "ahmed"
print(name)

# assigning a new variable to website
name = "mohamed"

print(name)

ahmed
mohamed

variable names are case sensitive

In [5]:
name="Ahmed" ; age =20
print(name , age)

Name="Mohamed" ; Age =21
print(Name , Age)

Ahmed 20
Mohamed 21

Comparison operators

In [6]:
#compare the certain two operands and return True or False.

Logical operators

In [7]:
a = 3.14
b = 1.618
c = 12
d = 3.14
print(a>b and c>a)
print(b>c and d>a)
print(b<c or d>a)
print( not a==b)
print(not a==d)

True
False
True
True
False

basic airthmetic using numbers

In [8]:
print(3+5) 
print(1/2) 
print(17%3) 
print(4**2) 
print(10+5*3) 
print((10+5)*3) 
(121+2) - (55-10)

8
0.5
2
16
25
45

78

Identity operators

In [9]:
#The operators is or is not are employed to control if the operands or objects to the left and right of theseoperators are referring to a value stored in the same momory location and return True or False.

lis1 = [3.14, 1.618]
lis2 = [3.14, 1.618]
print(lis1 is lis2) 
print(lis1 is not lis2)

False
True

Number data types (int, float, complex numbers)

In [10]:
age =20 ; salary = 1.300 ; K =2+3j
print(type(age) , type(salary) , type(K))

<class 'int'> <class 'float'> <class 'complex'>

### Python Strings

Assign String to a Variable

In [11]:
name = "ahmed mohamed"
name

'ahmed mohamed'

Index Operator

In [12]:
print(name)
print(name[0])
print(name[10])

ahmed mohamed
a
m

in operator

In [13]:
print(name)

ahmed mohamed

In [14]:
"ali" in name

False

In [15]:
"any" in name

False

In [16]:
"M" in name

False

String Slicing

In [17]:
print(name[0:6])
print(name[0: ])
print(name[ :15])
print(name[6 :15])

ahmed
ahmed mohamed
ahmed mohamed
mohamed

### Python String Methods

In [18]:
#len function 

print(len(name))

13

In [19]:
#replace function {Returns a string where a specified value is replaced with a specified value}

name = name.replace("ahmed" , "ali").replace("mohamed", "hany")
print(name)

ali hany

In [20]:
#upper {Converts a string into upper case}&
#lower function {Converts a string into lower case}

name.upper()

'ALI HANY'

In [21]:
name.lower()

'ali hany'

In [22]:
#{ Converts the first character to upper case}

name.capitalize()

'Ali hany'

In [23]:
#{ Converts the first character of each word to upper case}

name.title()

'Ali Hany'

In [24]:
#{ Returns True if all characters in the string are upper case}

name.isupper()

False

In [25]:
#{ Returns True if all characters in the string are lower case}

name.islower()

True

In [26]:
#isdigit { Returns True if all characters in the string are digits} &
#index function { Searches the string for a specified value and returns the position of where it was found}

num_1 = "70360"
num_1.isdigit()

True

In [27]:
num_2 = "ahmed123"
num_2.isdigit()

False

In [28]:
name

'ali hany'

In [29]:
name.index("a")

0

In [30]:
name.index("n")

6

In [31]:
#endswith() {Returns true if the string ends with the specified value} and startswith Methods

my_name = "ahmed"
my_name.endswith("d")

True

In [32]:
my_name.startswith("m")

False

In [33]:
my_name.startswith("ah")

True

In [35]:
#str function

20 + my_name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
age= 20
str(age) + my_name

'20ahmed'

In [37]:
#split function  { Splits the string at the specified separator, and returns a list }

data = "my name is ahmed : and my age is 20 : and my departement is cs"
data.split()

['my',
 'name',
 'is',
 'ahmed',
 ':',
 'and',
 'my',
 'age',
 'is',
 '20',
 ':',
 'and',
 'my',
 'departement',
 'is',
 'cs']

In [38]:
data.split(":")

['my name is ahmed ', ' and my age is 20 ', ' and my departement is cs']

In [39]:
data.split(":")[0]

'my name is ahmed '

In [40]:
data.split(":")[1]

' and my age is 20 '

In [41]:
data.split(":")[2]

' and my departement is cs'

In [42]:
#find() Method { Searches the string for a specified value and returns the position of where it was found }

my_name

'ahmed'

In [43]:
my_name.find("a")

0

In [44]:
my_name.find("m")

2

Remove Whitespace

In [45]:
a = "          Hell   o, World! "
print(a)

          Hell   o, World!

In [46]:
a.strip()

'Hell   o, World!'

quote or double quote inside the string

In [47]:
text="let's learn python"
text

"let's learn python"

In [48]:
text='let's learn python'
text

SyntaxError: invalid syntax (2702983837.py, line 1)

In [49]:
text='let\'s learn python'
text

"let's learn python"

Special characters : newline and tab

In [50]:
s='Hello world'
print(s)

Hello world

In [51]:
s='Hello\nworld'
print(s)

Hello
world

In [52]:
s='Hello\tworld'
print(s)

Hello	world

### Python List

In [53]:
First_List = ["Ali", 100, "MU"]      
second_List = [110, 220, 330, 440, 550, 660]

In [54]:
First_List

['Ali', 100, 'MU']

In [55]:
second_List

[110, 220, 330, 440, 550, 660]

In [56]:
print(type(second_List))

<class 'list'>

Index Operator

In [57]:
First_List[0]

'Ali'

In [58]:
First_List[-1]

'MU'

In [59]:
second_List[0:5]

[110, 220, 330, 440, 550]

len() function

In [60]:
print(len(First_List))

3

in operator

In [61]:
5 in second_List

False

In [62]:
"ahmed" in First_List

False

append and insert functions

In [63]:
First_List.append("ahmed")
First_List

['Ali', 100, 'MU', 'ahmed']

In [64]:
second_List.insert(0, "index zero")
second_List

['index zero', 110, 220, 330, 440, 550, 660]

Adding two lists

In [65]:
First_List = ["Ali", 100, "MU"]      
second_List = [110, 220, 330, 440, 550, 660] 
First_List + second_List

['Ali', 100, 'MU', 110, 220, 330, 440, 550, 660]

List items can be changed using index and slice index

In [66]:
First_List[0] = "Ahmed"
First_List

['Ahmed', 100, 'MU']

In [67]:
second_List[0:2]= [330]
second_List

[330, 330, 440, 550, 660]

Extend List

In [68]:
First_List.extend(second_List)
First_List

['Ahmed', 100, 'MU', 330, 330, 440, 550, 660]

Remove Specified Item

In [69]:
First_List.remove(100)
First_List

['Ahmed', 'MU', 330, 330, 440, 550, 660]

In [70]:
second_List.pop()

660

In [71]:
second_List

[330, 330, 440, 550]

In [72]:
del First_List[1]
First_List

['Ahmed', 330, 330, 440, 550, 660]

Clear the List

In [73]:
First_List

['Ahmed', 330, 330, 440, 550, 660]

In [74]:
First_List.clear()
First_List

[]

Reverse Order

In [75]:
thislist = ["apple", "banana", "cherry"]
thislist.reverse()
thislist

['cherry', 'banana', 'apple']

Sort List

In [76]:
un_sorted_list = [2,20,3,0,155,64,67,16,1,23,33,47,6,-20,-66,20,152,23,648]
un_sorted_list.sort()
un_sorted_list

[-66, -20, 0, 1, 2, 3, 6, 16, 20, 20, 23, 23, 33, 47, 64, 67, 152, 155, 648]

In [77]:
un_sorted_list.sort(reverse= True)
un_sorted_list

[648, 155, 152, 67, 64, 47, 33, 23, 23, 20, 20, 16, 6, 3, 2, 1, 0, -20, -66]

Copy a List

In [78]:
list_1 = [10,20,30, 50]
list_2 = [25,23,55]
list_3 = list_1
list_3

[10, 20, 30, 50]

In [79]:
list_3 = list_1.copy()
list_3

[10, 20, 30, 50]

### python_dictionaries

In [80]:
person1 = {
    "name" : "ahmed" , 
    "age" : 20 , 
    "country" : "Egypt" , 
    "BOD" : "20-5-2001" , 
    "collage" : "CS"
}
print(person1)

{'name': 'ahmed', 'age': 20, 'country': 'Egypt', 'BOD': '20-5-2001', 'collage': 'CS'}

In [81]:
print(person1.keys())

dict_keys(['name', 'age', 'country', 'BOD', 'collage'])

In [82]:
print(person1.values())

dict_values(['ahmed', 20, 'Egypt', '20-5-2001', 'CS'])

In [83]:
print(person1["name"])

ahmed

In [84]:
computer_science = {

    "WEB" : {
       "front end" : ["html" , "css" , "java script" , "bootstap" , "react" , "angular" , "responsive web"] ,
       "back end" : ["html" , "css" , "php" , "database" , "sass"] 

    } ,
    "data science" : {
        "Data analysis" : ["statistics" , "python" , "R" , "ml" , "DL" , "AI "] , 
        "Data engneer" : ["database" , "sql" , "mongodb" , "ml" , "DL" , "AI "] , 

    } , 

    "Mobile application" : {
        "flutter" : ["Dart" , "responsive" , "flutter" , "wedget"], 
        "android" : ["java" , "kotlen" , "oop" , "responsive"]
    }

}
print(computer_science)

{'WEB': {'front end': ['html', 'css', 'java script', 'bootstap', 'react', 'angular', 'responsive web'], 'back end': ['html', 'css', 'php', 'database', 'sass']}, 'data science': {'Data analysis': ['statistics', 'python', 'R', 'ml', 'DL', 'AI '], 'Data engneer': ['database', 'sql', 'mongodb', 'ml', 'DL', 'AI ']}, 'Mobile application': {'flutter': ['Dart', 'responsive', 'flutter', 'wedget'], 'android': ['java', 'kotlen', 'oop', 'responsive']}}

In [85]:
print(computer_science.keys())
print(computer_science.values())

dict_keys(['WEB', 'data science', 'Mobile application'])
dict_values([{'front end': ['html', 'css', 'java script', 'bootstap', 'react', 'angular', 'responsive web'], 'back end': ['html', 'css', 'php', 'database', 'sass']}, {'Data analysis': ['statistics', 'python', 'R', 'ml', 'DL', 'AI '], 'Data engneer': ['database', 'sql', 'mongodb', 'ml', 'DL', 'AI ']}, {'flutter': ['Dart', 'responsive', 'flutter', 'wedget'], 'android': ['java', 'kotlen', 'oop', 'responsive']}])

In [86]:
print(computer_science["WEB"])

{'front end': ['html', 'css', 'java script', 'bootstap', 'react', 'angular', 'responsive web'], 'back end': ['html', 'css', 'php', 'database', 'sass']}

In [87]:
print(computer_science["WEB"]["front end"])

['html', 'css', 'java script', 'bootstap', 'react', 'angular', 'responsive web']

In [88]:
print(computer_science["WEB"]["front end"][3])

bootstap

In [89]:
print(len(computer_science))

3

In [90]:
print(len(computer_science["data science"]))

2

In [91]:
person_2={
    "name": "menna",
    "age" : 20 ,
    "country" : "Egypt" , 
    "BOD" : "9-11-2001" , 
    "collage" : "CS"
}

In [92]:
# update dict 
person_2.update({"color" : "balck", "age" : 21})
print(person_2)

{'name': 'menna', 'age': 21, 'country': 'Egypt', 'BOD': '9-11-2001', 'collage': 'CS', 'color': 'balck'}

In [93]:
# clear dict 
person_2.clear()
person_2

{}

In [94]:
# copy dict 
person3 = person1.copy()
print(person3)

{'name': 'ahmed', 'age': 20, 'country': 'Egypt', 'BOD': '20-5-2001', 'collage': 'CS'}

In [95]:
# popitem 
print(person3.popitem())

('collage', 'CS')

In [96]:
print(person3)

{'name': 'ahmed', 'age': 20, 'country': 'Egypt', 'BOD': '20-5-2001'}

### Tuples in Python

In [97]:
tuple_1 = (1 ,5 ,"ahmed" , [58, "ali" , "hany"] , {1:"A" , 2:"B"})
print(tuple_1)
print(type(tuple_1))
print(len(tuple_1))

(1, 5, 'ahmed', [58, 'ali', 'hany'], {1: 'A', 2: 'B'})
<class 'tuple'>
5

In [98]:
print(tuple_1[0])
print(tuple_1[-1])

1
{1: 'A', 2: 'B'}

In [99]:
tuple_1[0:3]

(1, 5, 'ahmed')

In [100]:
len(tuple_1)

5

In [101]:
print(1 in tuple_1)
print(2 not in tuple_1)
print("ahmed" in tuple_1)
print(5 not in tuple_1)

True
True
True
False

In [102]:
tuple_2 = (1 , 5 ,8 , 7 ,-3)

In [103]:
print(max(tuple_2))
print(min(tuple_2))

8
-3

In [104]:
tuple_2*3

(1, 5, 8, 7, -3, 1, 5, 8, 7, -3, 1, 5, 8, 7, -3)

In [105]:
sorted(tuple_2)

[-3, 1, 5, 7, 8]

Nested_tuple

In [108]:
nested_tuple =('cs', (0, 5), ('it', 'is'), (3.14, 'ai', (1.618, ' bio')) )
print(nested_tuple[1])
print(nested_tuple[3])
print(nested_tuple[3][2])

(0, 5)
(3.14, 'ai', (1.618, ' bio'))
(1.618, ' bio')

In [109]:
seq ="ABCDEFG"
tuple(seq)

('A', 'B', 'C', 'D', 'E', 'F', 'G')

In [110]:
print(tuple_1 + tuple_2)

(1, 5, 'ahmed', [58, 'ali', 'hany'], {1: 'A', 2: 'B'}, 1, 5, 8, 7, -3)

Tuples are immutable

In [111]:
tuple_2[0]= -8

TypeError: 'tuple' object does not support item assignment

### Sets in Python

In [2]:
set1 = {'Hello Python!', 5,8, 1.618, 'Hello World!', 3.14, 1.618, True, False}
type(set1)

set

Set operations

In [3]:
#takes exactly one argument
set1.add("end")
set1

{1.618, 3.14, 5, 8, False, 'Hello Python!', 'Hello World!', True, 'end'}

In [4]:
#To add multiple elements into the set
set1.update({1 ,2 ,3})
set1

{1.618, 2, 3, 3.14, 5, 8, False, 'Hello Python!', 'Hello World!', True, 'end'}

Logic operations in Sets

To find the intersect of two sets using &

In [5]:
set2 = set(['Hello Python!', 3.14, 1.618, 'Hello World!'])
intersection = set1 & set2
print(intersection)
# or use intersection() function
set2.intersection(set1)

{'Hello Python!', 1.618, 'Hello World!', 3.14}

{1.618, 3.14, 'Hello Python!', 'Hello World!'}

To find the difference between two sets using difference() function

In [6]:
print(set1.difference(set2))
print(set1-set2)

{False, True, 2, 3, 5, 8, 'end'}
{False, True, 2, 3, 5, 8, 'end'}

union() function

In [7]:
set1.union(set2)

{1.618, 2, 3, 3.14, 5, 8, False, 'Hello Python!', 'Hello World!', True, 'end'}

Converting list to set

In [8]:
list = ['Hello Python', 3.14, 1.618, 3.33, 88, True, False]
set_ = set(list)
set_

{1.618, 3.14, 3.33, 88, False, 'Hello Python', True}

### python_if_statments

In [9]:
User_Input = eval(input("enter numebr "))

enter numebr 5

In [10]:
if User_Input > 6:
     print('You can go to primary school.' )
elif User_Input == 5:
     print('You should go to kindergarten.')
else:
     print('You are a baby' )
 
print('Done!')

You should go to kindergarten.
Done!

In [11]:
User_Input = eval(input("enter numebr "))
if  User_Input > 20 : 
    print("numebr is *greater* than 20 " )
else: 
    print("numebr is *smaller* than 20 " )

enter numebr 32
numebr is *greater* than 20

In [12]:
if  User_Input > 20 : 
    print("numebr is *greater* than 20 " )
else: 
    print("numebr is *smaller* than 20 " )

numebr is *greater* than 20

### for loop

In [13]:
my_list = ["ahmed" , "ali" , 20 , "CS"]
for i in my_list:
    print(i)

ahmed
ali
20
CS

In [14]:
for number in range(20 , 80 , 15) : 
    print(number)

20
35
50
65

In [15]:
dep = [ "IT" ,"CS" , "IS"]
for y in dep:
    if y == "CS" :
        break
    print(y)

IT

In [16]:
dep = [ "IT" ,"CS" , "IS"]
for y in dep:
    if y == "CS" :
        continue
    print(y)

IT
IS

### while loop

In [18]:
deps = ["IS", "CS", "Bio", "IT", "AI"]
index = 0
dep = deps[0]
while dep !="CS":
    print(dep)
    index+=1
    dep = deps[index]
print('It gives us only', index, 'repetititons to get out of loop')

IS
It gives us only 1 repetititons to get out of loop

### python_functions

In [19]:
List= [1 ,5 ,8 ,79 , 58]
def sum(list):
    sum_of_num = 0
    for index in List:
        sum_of_num += index
    print(sum_of_num)

In [20]:
sum(List)

151

In [21]:
def packing_function(*i):
    for item in i: 
        print(f"my name is {item}")

In [22]:
packing_function("ahmed" , "salah"  , "mostafa" , "menna")

my name is ahmed
my name is salah
my name is mostafa
my name is menna

In [23]:
def number (n1 ,n2 ,n3):
    return n1
    return n2
    return n3

In [24]:
number(2,5,8)

2

filter_function

In [1]:
def odd(num) : 
    if num%2 != 0 :
        return True

In [2]:
my_list_of_numbers = [1,2,3,5,4,88,12,65,0,45,9,75,78,64,2,15,17,91]

In [3]:
list(filter(odd , my_list_of_numbers))

[1, 3, 5, 65, 45, 9, 75, 15, 17, 91]

map_function

In [4]:
#map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable 
list(map(odd ,my_list_of_numbers))

[True,
 None,
 True,
 True,
 None,
 None,
 None,
 True,
 None,
 True,
 True,
 True,
 None,
 None,
 None,
 True,
 True,
 True]

format_function

In [5]:
#helps to format the output printed on the secreen

num1 = float(input('Enternumber one :'))
num2 = float(input('Enternumber two :'))
sum = num1 + num2
print("sum of {} and {} is {}".format(num1 , num2 , sum))

Enternumber one :2.8
Enternumber two :3
sum of 2.8 and 3.0 is 5.8

eval_function

In [6]:
# convert a string to an integer or a float

string_to_number = '8+7'
total = eval(string_to_number)
print('Sum of the expression is', total)
print(type(string_to_number))
print(type(total))

Sum of the expression is 15
<class 'str'>
<class 'int'>